.parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.method {
  min-width: 100px;
}

.number {
  min-width: 80px;
  max-width: 80px;
}

.slider {
  min-width: 140px;
  width: 240px;
}
